<div class="modal" id="modalCookies">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">[titulo]</h5>
			</div>
			<div class="modal-body">
				[texto]
				<small>[instrucciones]</small>
				<br/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="aceptarTodasCookies">[boton_ok]</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="aceptarCookiesObligatorias">[boton_nok]</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal" id="verAjustesCookies">[boton_config]</button>
			</div>
		</div>
	</div>
</div>
